.signup-wrapper {
    height: 100%;
    width: 100%;
  
    .signup-form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
  
      .basic-input {
        width: 400px;
      }
    }
  }